
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

</head>

<body>
<div style="width:130px; margin:0 auto; color: black; font-weight:bold;">
<font color="white"><h3>Update</h3></font>
</div>
 <div style="width:346px; margin:0 auto; color: #6f492a; font-weight:bold;">
<form action="/">
   <input type="submit" value="Home" />
</form>
 </div>


  <form action = "{{ url_for('updateImpCourse') }}" method = "POST">




     <div style="width:346px; margin:0 auto; color: black; font-weight:bold;">
     <font color="white"> <div class="container">
          {% include 'message.html' %}
          {% block body %}{% endblock%}
      </div></font>
      <h3>Enter new info </h3>
      {{form.coursenameNew}} {{form.coursenameNew.label}}<br><br>
      {{form.coursecodeNew}} {{form.coursecodeNew.label}}<br><br>
      {{form.submit}}
     </div>

</form>






</body>
</html>
